<header class="header">
  <div class="logo-section">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/b9fc4ee4351a2a5085c2989096c180b9f5958cd67136a867fa75524bf88f6177?apiKey=4ed16216b751438587fef52dd74da871&"
      alt="Game Center Logo"
      class="logo"
    />
    <div class="divider"></div>
    <div class="title">Game Center</div>
  </div>
  <div class="actions">
    <div class="search-bar">
      <label for="searchInput" class="visually-hidden">Search</label>
      <input type="text" id="searchInput" placeholder="Search" />
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/1f3c0b5471ee9c223c81cd155d925ea636cffb83f2125358aec0da9baa1a7f3f?apiKey=4ed16216b751438587fef52dd74da871&"
        alt="Search icon"
        class="search-icon"
      />
    </div>
    <div class="icons">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/e5d0ec6d914be6176c53ae92594531e14bfddaf3e03734ed8cd81a88786cd7ad?apiKey=4ed16216b751438587fef52dd74da871&"
        alt="Notification icon"
        class="icon"
      />
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/0deb3ed8103615a11a76b20d5f33b003a23755cb63e8f070fc6fc241252922f5?apiKey=4ed16216b751438587fef52dd74da871&"
        alt="Settings icon"
        class="icon"
      />
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/0f29335ba0b06dc7358ed76fab95cc36ed9ddd7d526cf90dc43c6c829f7877d1?apiKey=4ed16216b751438587fef52dd74da871&"
        alt="User profile"
        class="profile-icon"
      />
    </div>
  </div>
</header>
