<nav class="sidebar">
  <ul class="menu-list">
    <li class="menu-item">
      <a href="#" class="menu-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/9df1448476c46345e27fc3bcd54825ad65f14abe17803323f5fd7f4ad38cbcce?apiKey=4ed16216b751438587fef52dd74da871&"
          alt=""
          class="menu-icon"
        />
        <span>Activity</span>
      </a>
    </li>
    <li class="menu-item active">
      <a href="#" class="menu-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/afa8d59ea97ca4182ee453184e6c3b497eb2f91a944b95029a490509ca14819a?apiKey=4ed16216b751438587fef52dd74da871&"
          alt=""
          class="menu-icon"
        />
        <span>Data Analysis</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/00524397c1e24afc0ffc0d5e2d210fe509f75f08aafc41c8f4b82c522cbcc70f?apiKey=4ed16216b751438587fef52dd74da871&"
          alt=""
          class="menu-icon"
        />
        <span>Games</span>
      </a>
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/531f099bc336ebd994bf0cc6142128962012d35111920fa45150e07e99e3fcd8?apiKey=4ed16216b751438587fef52dd74da871&"
        alt="Expand"
        class="expand-icon"
      />
    </li>
    <li class="menu-item">
      <span class="menu-header">New Arrivals</span>
    </li>
    <li class="menu-item">
      <span class="menu-header">Categories</span>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4ed16216b751438587fef52dd74da871/1fded078022899db1424b0ea825fce9468782e8aac85f32277728e721935d8f4?apiKey=4ed16216b751438587fef52dd74da871&"
          alt=""
          class="menu-icon"
        />
        <span>Community</span>
      </a>
    </li>
  </ul>
</nav>
