<div class="chart-container">
  <div class="chart-header">
    <div class="filters">
      <div class="filter">
        <label for="filter1">Filter</label>
        <select id="filter1">
          <option>Select</option>
        </select>
      </div>
      <div class="filter">
        <label for="filter2">Filter</label>
        <select id="filter2">
          <option>Select</option>
        </select>
      </div>
    </div>
    <div class="date-range">
      <img
        src="calendar.svg"
        alt="Calendar"
        class="calendar-icon"
      />
      <span>Start date</span>
      <img
        src="arrow.svg"
        alt="Arrow"
        class="arrow-icon"
      />
      <span>End date</span>
    </div>
  </div>
  <canvas id="myChart"></canvas>
  <div class="chart-legend">
    <div class="legend-item">
      <div class="legend-color" style="background-color: #4887f6"></div>
      <span>Label 1</span>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #59c3cf"></div>
      <span>Label 2</span>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #e2635e"></div>
      <span>Label 3</span>
    </div>
  </div>
</div>
